# Ignore everything by default.
*

# Include init file
!init.el

# Include elisp folder
!lisp/
!lisp/*
lisp/*.elc

# Include .gitignore
!.gitignore

# Ignore private folder
private/

# Include snippets folder
!snippets/
!snippets/*
!snippets/**/*

# Include the docs folder
!docs/
!docs/*
